<p id="notice"><%= notice %></p>

<p>
  <b>Producttitle:</b>
  <%= @shopifyproduct.producttitle %>
</p>


<%= link_to 'Edit', edit_shopifyproduct_path(@shopifyproduct) %> |
<%= link_to 'Back', shopifyproducts_path %>
